
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/materialize-css/sass/materialize.scss";

#content {
    margin: 8em 0 10em;
}

#footer {
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);

    p {
        margin: 1em;
        text-align: right;
        font-weight: 500;
    }
}
